
/* === TYPOGRAFIE === */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body,
p {
    font-family: 'Raleway', sans-serif, thin;
    font-size: 16px;
    font-weight: 200;
    margin-top:5px ;
    margin-bottom:5px ;
}

h1,
h2,
h3, {
    font-family: 'Raleway', sans-serif, thin ;
    font-weight: 200;
    text-decoration: none;
    margin-top:15px;
}

.midden{
    text-align: center;
}

li{
    margin-top:5px;
}

.ondertitel{margin-bottom: 35px;
}

article{
    margin-bottom:20px ;
}

.hover:hover{
   color: hsl(198, 41%, 72%);
}

/* === COLORS === */
p,
ol,
h1,
h2,
h3 {
   color: hsl(198, 41%, 43%);
}

/* ==== GLOBAL STYLES === */

article,
a,
li {
    text-align: center;
    text-decoration: none;
}

.btn-outline-info{
    margin-top:20px;
}

.kolom1{
    margin-top: 38px;
}


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

.d-block 
{
height: 15rem; 
width: 15rem; 
margin-left: 30px;
margin-bottom: 30px
}

.d-block2 
{
height: 15rem; 
width: 21rem; 
margin-left: 30px;
margin-bottom: 20px
}

.oo:hover {
    font-size: 3em;
    color: hsl(13, 69%, 77.3%);
    margin-bottom: 20px;
    margin-left: none;
}


.namenmidden {
    margin: auto 0;
}

.foto1 {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        margin-bottom: 40px;
    }


.pijl,
.pijl2{
    margin-left:10px;
    margin-right:9px;
    margin-bottom:25px;
    position:center;
    height:35px;
    width:auto; 
}

.pijl2:hover{
    height:40px;
    width:auto;
    opacity:0.5;

    
}

.midden{
    width: 100%;
    height: 100%; 
    margin-top:20px;
    margin-bottom:20px;
}

.onder {
    position: relative;
    width: 10%;
    z-index: 1;
}
  
.footer1{
    position: absolute;
    clear: both;
    z-index:3;
    height: 80px;
    width:80px;
}

.footer2{
    position: absolute;
    clear: both;
    z-index:3;
    height:80px;
    width:80px;
}

.carousel{
    margin-top:25px;
}

a:-webkit-any-link {
    text-decoration:none;
}
